@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

/* HEADER */
header, footer {
    background-color: darkslateblue;
    color: white;
    height: 5vh;
    min-height: 50px;
}

header h1 {
    font-family: 'Fascinate', cursive;
}

.logo {
    font-size: 1.8rem;
}

.hard-sized {
    height: 35px;
    width: 100px;
}

/* MAIN */
.ms_grid-container {
    /* TODO Sistemare dimensioni (anche header e footer */
    height: calc(90vh - 100px);
    width: calc(90vh - 100px);
    margin: 50px auto;
}

.ms_grid-element {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 3vh;
    color: white;
}

.ms_grid-container, .ms_grid-element {
    border: 0.5px solid black;
}

.ms_safe-element {
    background-color: steelblue;
    color: steelblue;
}

.ms_bomb-element {
    background-color: darkred;
    color: black;
    font-size: 3rem;
}


.endgame-alert {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 1);
    
    text-align: center;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


    line-height: 3rem;
    font-size: 2rem;
}